body {
  background-color: #000;
  font-family: monospace;
  background-image: url(/assets/images/ss035.gif);
  height: 100vh;
  overflow-x: hidden;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 2.2em;
  }
  body p,
  body ul,
  body pre {
    font-size: 0.7em;
  }
  body h1 {
    font-size: 1.7em;
  }
  body h2 {
    font-size: 1.2em;
  }
}

md-block:not([rendered]) {
  display: none;
}

.container {
  width: 70%;
  height: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-right: 15vw;
  padding-left: 15vw;
  color: yellow;
}
@media screen and (max-width: 1024px) {
  .container {
    width: 80vw;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding-left: 8vw;
  }
}
.container .outline {
  height: 80vh;
  overflow: hidden;
  overflow-y: auto;
}
.container .outline .text {
  color: skyblue;
  padding: 20px 20px;
}
@media screen and (max-width: 1024px) {
  .container .outline .text {
    margin: 0;
  }
}
.container .outline .text .social a {
  padding: 20px;
}
.container .outline .text .social a img {
  height: 75px;
  -webkit-transition: border 0.3s ease-in-out;
  transition: border 0.3s ease-in-out;
}
.container .outline .text .social a img:hover {
  border-top: #fff433 5px solid;
  border-left: #ffffff 5px solid;
  border-right: #9c59d1 5px solid;
  border-bottom: #292929 5px solid;
}
.container .outline article.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .container .outline article.home {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.container .outline #gravatar {
  background-image: url("https://0.gravatar.com/avatar/ae7f60ff46a24c24fad145b9dafea2dca34af5155f67c6680563ff8e3aa0f43c?s=500");
  height: 200px;
  aspect-ratio: 1/1;
  background-position: center;
  background-size: cover;
  padding: 0;
  margin: 20px;
}
.container .outline #mobile-disclamer {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container .outline #mobile-disclamer {
    display: block;
    font-size: 0.7em;
    color: #9c59d1;
    padding: 20px;
  }
}
.container .outline article h2,
.container .outline article a {
  color: skyblue;
}
.container .outline article h2 {
  margin-bottom: 0;
}
.container .outline article a.read-more {
  display: block;
  width: 100%;
  color: #fff433;
  text-decoration: underline;
  border-bottom: dashed 3px #9c59d1;
  padding: 20px 0 20px 20px;
  font-size: 0.7em;
}
.container .outline article .md-text {
  color: skyblue;
  display: block;
  max-height: 100px;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  .container .outline article .md-text {
    display: none;
  }
}
.container .outline article .md-text#full-article {
  display: block;
  max-height: none;
  overflow: visible;
}
.container .outline article * {
  padding: 0 20px;
}
.container .outline a,
.container .outline h1#blogTitle {
  color: #fff433;
  padding-left: 20px !important;
  text-decoration: none;
}
.container .outline .devider {
  height: 1vh;
  color: #9c59d1;
}
.container .outline #blogTitleLink {
  font-size: unset;
}
.container .outline #blogTitleLink #blogTitle {
  margin-top: 0;
}
.container > a .cat {
  height: 75px;
}
@media screen and (max-width: 1024px) {
  .container > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.container .nyan-cat {
  width: 100%;
  height: 20vh;
}
.container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  padding: 0;
  margin: 0;
  border-bottom: #9c59d1 5px solid;
}
.container nav ul li {
  padding: 10px;
  font-size: 1.5em;
  font-weight: bold;
}
.container nav ul li a {
  padding: 0 !important;
  text-decoration: none;
  color: #fff433;
  -webkit-transition: color 0.5s ease-in-out;
  transition: color 0.5s ease-in-out;
}
@media screen and (max-width: 1024px) {
  .container nav ul li a {
    font-size: 0.8em;
  }
}
.container nav ul li a:hover {
  color: #9c59d1;
}

.enby-border {
  border-top: #fff433 5px solid;
  border-left: #ffffff 5px solid;
  border-right: #9c59d1 5px solid;
  border-bottom: #292929 5px solid;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.smol {
  font-size: small;
  font-style: italic;
  font-weight: lighter;
  color: #fff433;
}

code {
  color: #ffaec9;
}

.home-title {
  margin-top: 0px;
}